*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Landing Page About Us styles */
.AboutPage__Container{
    background-image: url('../ProjectImages/Picture/AboutBackground.png');
    width: 100%;
    height: 290px;
    justify-content: center;
    align-items:center;
    background-size: cover;
}
.AboutPage__Content{
    width:95%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 0px 0px 60px;
}
#AboutPage-Head{
    font-family: var(--font-family);
    font-size: 25px;
    color: var(--secondary-text-color);
}
#AboutPage-paragraph{
    font-family: var(--secondary-font-family);
    font-size: 21px;
    color: var(--secondary-text-color);
}
/* Making This Page Responsive */
@media all and (max-width: 800px){
    #AboutPage-paragraph {
        font-size: 18px;
    }
    .AboutPage__Content {
        gap: 15px;
    }
 
}
@media all and (max-width:500px){
    .AboutPage__Content {
        display: flex;
        flex-direction: column;
        gap: 1px;
        padding: 14px 0px 0px 30px;
    }

}
@media all and (max-width: 400px){
    #AboutPage-Head {
    font-size: 20px;
}
#AboutPage-paragraph {
    font-size: 17px;
}
}
@media all and (max-width: 330px){
    #AboutPage-paragraph {
        font-size: 16px;
    }
}
/* About Page Styles */
.About__Container{
    width: 100%;
    height: 100%;
}
.About__Container-intro{
    width: 100%;
    height: 500px;
    margin-bottom: 60px;
    transform: translateY(60px);
    background-image: url('../ProjectImages/Picture/AboutBackgroundImg.png');
}
.Container__intro-text{
    width: 70%;
    justify-content: center;
    text-align: left;
    animation: textAnimation 6s forwards;
    align-items: center;
    transform: translate(70px, 200px);
}
@keyframes textAnimation{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#intro__Head{
    font-family: var(--font-family);
    font-size: 25px;
    color: var(--secondary-text-color);
}
#Intro__body{
    font-family: var(--secondary-font-family);
    font-size: 25px;
    width: 55%;
    color: var(--secondary-text-color);
}
/* Core Values Informations styles */
.About__Values{
    width: 100%;
    height: 230px;
    display: flex;
    transform: translateY(-15px);
    z-index: 100;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--values-background-color);
    padding: 30px;
    border-radius: 25px 25px 0px 0px;
}
.Values__mission, .Values__vision{
    width: 40%;
}
#Mission_Head, #Vision_Head{
    font-size: 20px;
    font-family: var(--font-family);
    color: var(--brand-color);
    margin-bottom: 20px;
}
#Mission_Paragraph, #Vision_Paragraph{
    font-size: 19px;
    font-family: var(--secondary-font-family);

}
/* About Details Styles */
.AboutUs__Details{
    width: 83%;
    height: 200px;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#Details_bold{
    font-size: 25px;
    font-weight: normal;
    font-family: var(--secondary-font-family);
    margin-bottom: 15px;
}
#Details__Head{
    font-weight: bold;
    font-family: var(--font-family);
}
#Details_paragraph{
    font-size: 20px;
    font-family: var(--secondary-font-family);
}
.Details__Images{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
    height: 250px;
}
/* CoreValues Card Styles */
.CoreValues{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
#value1,#value2,#value3,#value4,#value5{
    width: 80px;
}
.CoreValues__row1,.CoreValues__row2, .CoreValues__row3{
    width: 80%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Card-container1,.Card-container2, .Card-container3, .Card-container4{
    width: 500px;
    height: 310px;
    padding: 10px;
} 
.Card-container5{
    width: 500px;
    height: 210px;
    padding: 10px;
}

/* Making About Page Responsive */
@media all and (max-width: 1000px){
    .About__Values {
        padding: 12px;
    }
    #Mission_Head, #Vision_Head {
        margin-bottom: 5px;
    }
}
@media all and (max-width: 900px){
    #DetailsIMage1, #DetailsIMage2 {
        width: 40%;
    }
    .Details__Images {
        justify-content: center;
        gap: 20px;
    }
    #Intro__body {
        width: 75%;
    }
    .Container__intro-text {
        transform: translate(70px, 160px);
    }
}
@media all and (max-width: 800px){
    .Values__mission, .Values__vision {
        width: 43%;
    }
    #Mission_Paragraph, #Vision_Paragraph {
        font-size: 18px;
    }
    #DetailsIMage1, #DetailsIMage2 {
        width: 40%;
        height: 80%;
    }
    .Details__Images {
        margin-top: 10px;
        margin-bottom: -4px;
    }
    .CoreValues__row1, .CoreValues__row2, .CoreValues__row3 {
        width: 92%;
    }
    #Contents__Paragraph {
        font-size: 17px;
    }
}
@media all and (max-width: 700px){
    .Container__intro-text {
        transform: translate(0px, 170px);
        width: 100%;
        padding: 0px 25px 0px 25px;
        text-align: center;
    }
    #Intro__body {
        width: 100%;
    }
    .Values__mission, .Values__vision {
        width: 100%;
    }
    .About__Values {
        flex-direction: column;
        gap: 10px;
        height: 250px;
        text-align: center;
        justify-content: center;
        padding: 15px 30px 15px 30px;
    }
    #Mission_Paragraph, #Vision_Paragraph {
        font-size: 17px;
        text-align: left;
    }
    .AboutUs__Details {
        width: 90%;
    }
    #Details_bold {
        font-size: 20px;
    }
    #Details_paragraph {
        font-size: 18px;
    }
    .CoreValues__row1, .CoreValues__row2, .CoreValues__row3 {
    width: 100%;
    flex-direction: column;
    gap:0px;
}
.Card-container1, .Card-container3, .Card-container4 {
    width: 90%;
    height: 150px;
    padding: 10px;
}
.Card-container5, .Card-container2{
    width: 90%;
    height: 120px;
}
#value1, #value2, #value3, #value4, #value5 {
    width: 80px;
    display: none;
}
}
@media all and (max-width: 550px){
    .Details__Images {
        margin-top: 25px;
        margin-bottom: -4px;
    }
    #Contents__Title {
        margin-bottom: -3px;
    }
}
@media all and (max-width: 500px){
    #Mission_Head, #Vision_Head {
        margin-bottom: 3px;
        font-size: 18px;
    }
    .About__Values {
        height: 265px;
        padding: 10px 30px 13px 30px;
    }
    #Details_bold {
        font-size: 18px;
        margin-bottom: 6px;
    }
    #Details_paragraph {
        font-size: 16px;
    }
    #DetailsIMage1, #DetailsIMage2 {
        width: 40%;
        height: 80%;
    }
    .Details__Images {
    margin-top: 10px;
    height: 150px;
    margin-bottom: -2px;
}
#Contents__Title {
    font-size: 17px;
    margin-bottom: -8px;
}
.Card-container1, .Card-container3, .Card-container4 {
    width: 95%;
    height: 150px;
    padding: 10px;
}
.Card-container5, .Card-container2{
    width: 95%;
    height: 120px;
}
}

@media all and (max-width: 400px){
    #Mission_Paragraph, #Vision_Paragraph {
        font-size: 16px;
    }
    .About__Values {
        height: 265px;
        padding: 10px 20px 13px 20px;
    }
    .Details__Images {
        height: 120px;
        margin-top: 15px;
    }
    #DetailsIMage1, #DetailsIMage2 {
        height: 95%;
    }
    #Contents__Paragraph {
        font-size: 16px;
        line-height: 20px;
    }
    #Contents__Title {
        font-size: 15px;
        margin-bottom: -8px;
    }
    .CoreValues__row1, .CoreValues__row2, .CoreValues__row3 {
        gap: 15px;
    }
}
@media all and (max-width: 350px){
    .Container__intro-text {
        padding: 0px 15px 0px 15px;
    }
    .Details__Images {
        height: 130px;
        margin-top: 32px;
    }
    .CoreValues__row1, .CoreValues__row2, .CoreValues__row3 {
        gap: 20px;
    }
}
@media all and (max-width: 325px){
    .Details__Images {
      margin-top: 55px;
    }
}