*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.Footer__Container{
    width: 100%;
    height: 170px;
    background-color: var(--secondary-gray-color);

}
.Footer__Content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin: auto;
}
.leftContent>p{
    font-family: var(--secondary-font-family);
    font-size: 16px;
    color: var(--dark-gray-color);
}
#CopyrightIcon{
    width: 15px;
    height: 15px;
    margin: 5px;
    transform: translateY(7px);
}
.middleContent{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.middleContent>h2{
    color: var(--dark-gray-color);
    font-size: 16px;
    font-family: var(--font-family);
    transform: translate(-20px,-15px);
}
.rightContent>h2{
    color: var(--dark-gray-color);
    font-size: 16px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    transform: translateY(-20px);
}

.Links__Container>li{
    font-size: 20px;
    font-family: var(--secondary-font-family);
    color: var(--dark-gray-color);
    cursor: pointer;
}
.Footer__icons{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.Footer__icons>img{
    width: 25px;
    height:25px;
}

/* Making This Page Responsive */
@media all and (max-width: 700px){
    .Footer__icons {
        gap: 2px;
    }
    .middleContent {
    gap: 2px;
}
.Footer__Content {
    flex-direction: row;
    gap: 15px;
    margin: auto;
}
.Links__Container>li {
    font-size: 16px;
}
.middleContent>h2 {
    font-size: 14px;
}
}
@media all and (max-width: 600px){
    .Footer__Content {
        flex-direction: column;
    }
    #Footer_Logo{
        width: 100px;
    }
    .Links__Container{
        display: flex;
        flex-direction: row;
        gap: 10px;
        list-style-type: none;
    }
    .middleContent>h2 {
        transform: translate(-20px,1px);
    }
    .rightContent>h2 {
        margin-bottom: -6px;
        transform: translateY(-9px);
}
.Footer__Container {
    width: 100%;
    height: 200px;
}
.Footer__icons {
    gap: 27px;
}
}