*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.NewsEvents__Container{
    width: 100%;
    height: 100%;
}
.NewsEvents__Container{
    width: 100%;
    height: 400px;
    background-color: var(--brand-secondary-color);
}
#Intro--text{
    font-size:30px;
    width: 100%;
    margin: auto;
    padding: 350px 0px 0px 80px;
    display: flex;
    font-family: var(--font-family);
    color: var(--brand-color);
    cursor: pointer;
    animation: NewsEvents 2s forwards;
}
@keyframes NewsEvents {
    from{
        transform: translateX(-100px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
.NewsEvents__Categories {
    width: 100%;
    height: 50px;
    padding: 0px 0px 0px 70px;
}
.Categories--list{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}
#Categories--All, #Categories--News,#Categories--Events{
    list-style-type: none;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: transparent;
    border: none;
    font-family: var(--secondary-font-family);
    cursor: pointer;
    font-weight: bold;
}
#Categories--All:hover,
#Categories--Events:hover, 
#Categories--News:hover{
    border-bottom: solid 3px var(--brand-color);
}
#Categories--All:focus, 
#Categories--Events:focus, 
#Categories--News:focus {
    border-bottom: solid 3px var(--brand-color);
}
.Categories--list>li{
    list-style-type: none;
    justify-content: center;
    text-align: center;
    width: 30%;
}
.NewsEvents__Posts{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Making this Page Responsive */
@media all and (max-width: 600px){
    #Intro--text {
        padding: 250px 0px 0px 40px;
    }
    .Categories--list {
        width: 50%;
    }
    .NewsEvents__Categories {
        padding: 0px 0px 0px 30px;
    }
    .NewsEvents__Posts {
        gap: 30px;
        justify-content: center;
        flex-direction: column;
    }
    .NewsEvents__Container {
        height: 300px;
    }
}