*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Landing Page Priority Styles */
.Priority__container{
    width:100%;
    height: 500px;
    padding: 40px 0px 0px 0px;
    background-color: var(--primary-gray-color);

}
.Our__PriorityCard-Container{
    width: 100%;
    height:100%;
    justify-content: center;
    align-items: center;
}
.PriorityCards__Container{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
}
.Priority__content>h1{
    font-family: var(--font-family);
    font-size: 25px;
    margin-bottom: 25px;
    padding-left: 60px;
    color: var(--primary-text-color);
}
@media all and (max-width: 700px){
    .PriorityCards__Container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .Priority__container {
    height: 675px;
}
}
@media all and (max-width: 500px){
    .Priority__container {
        height: 760px;
    }
}
@media all and (max-width: 400px){
    .Priority__container {
        height: 800px;
    }
}
@media all and (max-width: 330px){
    .Priority__container {
        height: 870px;
    }
}